.loading-search {
  position: absolute;
  @include flex;
  @include justify-content(center);
  @include align-items(center);
  top: 50%;
  left: 37%;
  text-align: center;
  font-size: 3rem;

  i {
    font-size: 5rem;
  }

  .title {
    padding-left: 2rem;
  }
}
