.search-box {
  position: relative;
  margin: 4rem auto 5rem;
  max-width: 600px;
  padding: 0.7rem 1rem;
  @include border-radius(5px);
  background-color: $primaryVeryLight;
  border: 1px solid $primary;
  @include box-shadow($shadow);
  transition: border 0.1s ease-in-out;

  &.focus {
    border: 1px solid darken($primary, 20%);
  }

  &.error {
    border: 1px solid $warning;
  }

  .tags {
    position: relative;
    margin-bottom: 0.7rem;

    &:hover {
      cursor: text;
    }

    .tags-wrapper {
      @include flex;
      @include align-items(center);
      @include flex-wrap(wrap);
      padding-top: 0.35rem;

      .tags-input-wrapper {
        @include flex;
        @include align-items(center);
        margin-bottom: 0.35rem;

        .tags-input {
          background-color: transparent;
          line-height: 1.4;
          font-size: 1.8rem;
        }
      }
    }
    .placeholder {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      line-height: 1.6;
      color: $primaryDark;
    }
  }

  .controls {
    @include flex;
    @include justify-content(flex-end);
    padding: 1.4rem 0 0.7rem;
    border-top: 1px solid $primary;

    button {
      padding: 0 0.7rem;
      background-color: transparent;
      font-size: 1.8rem;
      i {
        margin-right: 0.5rem;
      }

      &:hover {
        cursor: pointer;
      }

      &.clear {
        color: $warning;

        &:hover {
          color: $warningHover;
        }
      }

      &.search {
        color: $success;

        &:hover {
          color: $successHover;
        }
      }
    }
  }

  .error {
    position: absolute;
    right: 0;
    bottom: 105%;
    font-size: 1.2rem;
    color: $warning;
  }

  @media screen and (max-width: 640px) {
    margin: 3rem 1.5rem 5rem;
  }
}
